---
name: UDA image ghrc build

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: adam-parker1
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the UDA Docker image
        run: |
          cd docker/ubuntu_22.10
          docker build . -t ghcr.io/adam-parker1/uda:latest
          docker push ghcr.io/adam-parker1/uda:latest
